<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="/assets/ptc.css" media="screen"/>
        
        <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
        <header>Currently Available</header>
        
        <% if(session[:available_pts]) %>
            <% session[:available_pts].each_slice(2) do |pt1, pt2| %>
      			  <div class="row">
      			    <div class="col-sm-6">
          			  <div class="row">
            				<div class="card">
            				  <div class="col-sm-2">
        						    <img src=<%= (@peer_teachers.find_by netID: pt1).image %> >
        					    </div>
            					<div class="col-sm-4">
            						<h2 class="card-header" style="color:white;"><%= (@peer_teachers.find_by netID: pt1).name %></h2>
              				</div>
              				<div class="col-sm-3">
              					  <h3>Courses: </h3>
              					  CSCE <%= (@peer_teachers.find_by netID: pt1).courselist %>  
              					</div>
              				<div class="col-sm-3">
            					  <h3>Office Hours:</h3>  
            					  <% @office_hours.where(netID: pt1).find_each do |time| 
          					      sHour=""
          					      sMin=""
          					      sTOD=""
          					      eHour=""
          					      eMin=""
            					    eTOD=""
            					    if time.sHour>12
            					      sHour=time.sHour-12
            					      sTOD="pm"
            					    else
            					      sHour=time.sHour
            					      if time.sHour==12
            					        sTOD="pm"
            					      else
            					        sTOD="am"
            					      end
            					    end
            					    if time.sMin==0
            					      sMin="00"
            					    else 
            					      sMin=time.sMin
            					    end
            					    if time.eHour>12
            					      eHour=time.eHour-12
            					      eTOD="pm"
            					    else
            					      eHour=time.eHour
            					      if time.eHour==12
            					        eTOD="pm"
            					      else
            					        eTOD="am"
            					      end
            					    end
            					    if time.eMin==0
            					      eMin="00"
            					    else 
            					      eMin=time.eMin
            					    end
            					  %>
        					      <%= time.dow %> <%= sHour %>:<%= sMin %><%= sTOD %> - <%= eHour %>:<%= eMin %><%= eTOD %>
                          <br>
                        <% end %>
            					</div>
            				</div>
        				  </div>
        				</div>
        				<% if(pt2) %>
          				<div class="col-sm-6">
          			    <div class="row">
              				<div class="card">
              				  <div class="col-sm-2">
          						    <img src=<%= (@peer_teachers.find_by netID: pt2).image %> >
          					    </div>
              					<div class="col-sm-4">
              						<h2 class="card-header" style="color:white;"><%= (@peer_teachers.find_by netID: pt2).name %></h2>
                				</div>
                				<div class="col-sm-3">
                					  <h3>Courses: </h3>
                					  CSCE <%= (@peer_teachers.find_by netID: pt2).courselist %>  
                					</div>
                				<div class="col-sm-3">
              					  <h3>Office Hours:</h3>  
              					  <% @office_hours.where(netID: pt2).find_each do |time| 
            					      sHour=""
            					      sMin=""
            					      sTOD=""
            					      eHour=""
            					      eMin=""
              					    eTOD=""
              					    if time.sHour>12
              					      sHour=time.sHour-12
              					      sTOD="pm"
              					    else
              					      sHour=time.sHour
              					      if time.sHour==12
              					        sTOD="pm"
              					      else
              					        sTOD="am"
              					      end
              					    end
              					    if time.sMin==0
              					      sMin="00"
              					    else 
              					      sMin=time.sMin
              					    end
              					    if time.eHour>12
              					      eHour=time.eHour-12
              					      eTOD="pm"
              					    else
              					      eHour=time.eHour
              					      if time.eHour==12
              					        eTOD="pm"
              					      else
              					        eTOD="am"
              					      end
              					    end
              					    if time.eMin==0
              					      eMin="00"
              					    else 
              					      eMin=time.eMin
              					    end
              					  %>
            					      <%= time.dow %> <%= sHour %>:<%= sMin %><%= sTOD %> - <%= eHour %>:<%= eMin %><%= eTOD %>
                            <br>
                          <% end %>
              					</div>
              			  </div>
              		  </div>
          				</div>
      				  <% end %>
      				</div>
    				<% end %>
          <% end %>
    </body>
</html>