<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/home.css" media="screen"/>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
        <header>Currently Available</header>
        <div id="flexbox">
          <div class="row row-flex row-flex-wrap">
            <% if(session[:available_pts]) %>
              <% session[:available_pts].each do |pt| %>
              <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                  <div class="panel-body" <% if(session[pt] == 1) %> style="background-color: #000000; color: #ffffff;" <% end %>>
                    <div class="col-sm-3">
          				    <img src=<%= (@peer_teachers.find_by email: pt).image %> >
          			    </div>
          			    <div class="col-sm-5">
                      <h3><%= (@peer_teachers.find_by email: pt).name %></h3>
                      <h4><%= pt %></h4>
                      <h4>Courses: </h4>
              				<p>  CSCE <%= (@peer_teachers.find_by email: pt).courselist %>   </p>
                      <h4>Office Hours:</h4> 
            					  <% @office_hours.where(email: pt).find_each do |time| %>
            				      <% timeDetails = beautify_time(time) %>
            				      <%= time.dow %> <%= timeDetails[0] %>:<%= timeDetails[1] %><%= timeDetails[2] %> - <%= timeDetails[3] %>:<%= timeDetails[4] %><%= timeDetails[5] %>
                          <br>
                        <% end %>
                    </div>
                    <% if (session[pt] == 1) %>
                      <div class="col-sm-4">
                        <br>
                        <p>Message:</p>
                        <% message = format_message(@updates.find_by(email: pt).msg) %>
                        <% message.each do |m| %>
                          <p><%= m %></p>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
    </body>
</html>