<div id="container-fluid">
  <div class="row row-flex row-flex-wrap">
    <% @peer_teachers.each do |pt| %>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-sm-3">
				    <img src=<%= pt.image %> >
			    </div>
			    <div class="col-sm-9">
            <h3><%= pt.name %></h3>
            <h4><%= pt.email %></h4>
            <h4>Courses: </h4>
    				<p>  CSCE <%= pt.courselist %> </p>
            <h4>Office Hours:</h4>  
  					  <% @office_hours.where(email: pt.email).find_each do |time| %>
  					    <% time_details = beautify_time(time) %>
  				      <%= time.dow %> <%= time_details[0] %>:<%= time_details[1] %><%= time_details[2] %> - <%= time_details[3] %>:<%= time_details[4] %><%= time_details[5] %>
                <br>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>