<!DOCTYPE html>
<% if user_signed_in? %>
  <% destroy_user_session_path %> 
  <%= puts "Working" %>
<% end %>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="/assets/home.css" media="screen"/>
        
        <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        
        <script src="/assets/application.js"></script>
    
        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
        <div id="header">
          <!-- Search Bar 
          <div id="search bar">
            <sub-header>Search Bar</sub-header>
          </div> -->
          
          <!-- CSCE Course Buttons 
          <div id="course buttons">
            <sub-header>CSCE Course Buttons</sub-header>
          </div> -->
          
          <!-- Login Button -->
          <div id="login">
            <%= link_to 'Login', login_hub_index_path %>
            <!-- <a id="login button" class="button" style="float:right"  onclick="document.getElementById('login modal').style.display='block'"</a>>Login</a> -->
          </div>
        </div>
        
        <!-- Login Modal -->
        <div id="login modal" class="w3-modal">
          <div class="w3-modal-content w3-animate-zoom" style="background-color: #595959">
            <div class="w3-container w3-center">
              <span onclick="document.getElementById('login modal').style.display='none'" class="w3-closebtn w3-hover-text-grey" style="color: #BFBFBF">x</span>
              
              <div class = "w3-container w3-center" style="padding: 16px">
                <sub-header>Login</sub-header>
                <br/>
                <input type="text" id="net ID" placeholder="Net ID"></input>
                <input type="text" id="password" placeholder="Password"></input>
                <input type="submit" value="Login" onclick="document.getElementById('login modal').style.display='none'"> 
              </div>
            </div>
          </div>
        </div>
        
        <!-- View Button Bar -->
        <div class="w3-panel w3-center">
            <div class="w3-show-inline-block">
                <a id="available button" class="button" onclick="return showAvailableDiv()">Available</a>
                <a id="all button" class="button" onclick="return showAllDiv()">All</a> 
                <a id="schedule changes button" class="button" onclick="return showScheduleChangesDiv()">Schedule Changes</a>
            </div>
        </div>
        
        <div style="color:white;">
            <%= link_to 'Populate Database',  home_populate_db_path %>
        </div>
        
        <h style="color:white;">Peer Teachers:</h>
        <table>
          <tbody>
            <% @peer_teachers.each do |pt| %>
              <tr>
                <td style="color:white;">
                  <%= pt.netID  %>
                </td>
                <td style="color:white;">
                  <%= pt.name %>
                </td>
                <td style="color:white;">
                  <%= pt.courselist %>
                </td>
                <td style="color:white;">
                  <%= pt.timelist %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <h style="color:white;">Office Hours: (Just for debug)</h>
        <table>
          <tbody>
            <% @office_hours.each do |oh| %>
              <tr>
                <td style="color:white;">
                  <%= oh.timeID  %>
                </td>
                <td style="color:white;">
                  <%= oh.netID %>
                </td>
                <td style="color:white;">
                  <%= oh.dow %>
                </td>
                <td style="color:white;">
                  <%= oh.sHour %>
                </td>
                <td style="color:white;">
                  <%= oh.sMin %>
                </td>
                <td style="color:white;">
                  <%= oh.eHour %>
                </td>
                <td style="color:white;">
                  <%= oh.eMin %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      
      
      <!-- Available View -->
      <div id="available view">
          <sub-header>Available View</sub-header>
      </div>
      
      <!-- All View -->
      <div id="all view" style="display: none">
        <sub-header>All View</sub-header>
      </div>
      
      <!-- Schedule Changes View -->
      <div id="schedule changes view" style="display: none">
        <sub-header>Schedule Changes View</sub-header>
      </div>
        
    </body>
</html>

