<!DOCTYPE html>
<% if user_signed_in? %>
  <% destroy_user_session_path %>
<% end %>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="refresh" content="300" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/home.css" media="screen"/>
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/assets/application.js"></script>
    
        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
      <%= render 'navigation_bar' %>
      
      <!-- Login Modal -->
      <div id="login modal" class="w3-modal">
        <div class="modal-dialog modal-md" style="background-color: #595959">
          <div class="w3-container w3-center">
            <span onclick="document.getElementById('login modal').style.display='none'" class="w3-closebtn w3-hover-text-grey" style="color: #BFBFBF">x</span>
            
            <div class = "w3-container w3-center" style="padding: 16px">
              <%= render 'login_modal' %>
            </div>
          </div>
        </div>
      </div>
      
      <div id="flash" class="flash_messages">
        <% flash.each do |name,msg| %>
          <div class='alert alert-<%= name %>' >
            <%= msg %>
          </div>
        <% end %>
      </div>
      <!-- Remove the flash message using jquery --> 
      <script type="text/javascript">
        $(document).ready( function(){
          setTimeout(function(){
            $("#flash").remove();}, 5000);
        })
      </script>
      
      <!-- View Button Bar -->
      <div class="container-fluid text-center">
        <a id="available button" class="btn-link-active" onclick="return showAvailableDiv()">Available</a>
        <a id="all button" class="btn-link" onclick="return showAllDiv()">All</a> 
        <a id="schedule changes button" class="btn-link" onclick="return showScheduleChangesDiv()">Schedule Changes</a>
      </div>
       <div class="container-fluid text-center" >
        
        
		            <li style = "display:inline"><a href="#" id = "110" onclick="return showclass(110)">110</a></li>
		            <li style = "display:inline"><a href="#" id = "111" onclick="return showclass(111)">111</a></li>
		            <li style = "display:inline"><a href="#" id = "121" onclick="return showclass(121)">121</a></li>
		            <li style = "display:inline"><a href="#" id = "206" onclick="return showclass(206)">206</a></li>
		            <li style = "display:inline"><a href="#" id = "221" onclick="return showclass(221)">221</a></li>
		            <li style = "display:inline"><a href="#" id = "222" onclick="return showclass(222)">222</a></li>
		            <li style = "display:inline"><a href="#" id = "312" onclick="return showclass(312)">312</a></li>
		            <li style = "display:inline"><a href="#" id = "313" onclick="return showclass(313)">313</a></li>
		            <li style = "display:inline"><a href="#" id = "314" onclick="return showclass(314)">314</a></li>
		            <li style = "display:inline"><a href="#" id = "315" onclick="return showclass(315)">315</a></li>
		            <li style = "display:inline"><a href="#" id = "350" onclick="return showclass(350)">350</a></li>
        
        
      </div>
      <!-- Available View -->
      <div id="available view">
        <%= render 'available_view' %>
      </div>
      
      <!-- All View -->
      <div id="all view" style="display: none">
        <%= render 'all_view' %>
      </div>

      <!-- Schedule Changes View -->
      <div id="schedule changes view" style="display: none">
        <sub-header>Schedule Changes View</sub-header>
      </div>
      
      <!-- Selective Class View -->
      <div id="classnum view" style="display: none">
        <%= render 'button_click' %>
      </div>
        
    </body>
</html>

