<!DOCTYPE html>
<% if user_signed_in? or admin_signed_in? %>
  <% destroy_user_session_path %>
<% end %>
<% if admin_signed_in? %>
  <% destroy_admin_session_path %>
<% end %>
<%#<%= render 'navigation_bar' %>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#136D71"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="/assets/bootstrap.css" media="screen">
        <link rel="stylesheet" href="/assets/home.css" media="screen"/>
        <link rel="stylesheet" href="./css/font-awesome.min.css"> 
        
        <link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        
        <script src="/assets/application.js"></script>
    
        <title>Peer Teacher Web Portal</title>
    </head>
    
    <body>
        <div id="header">
          <!-- Search Bar 
          <div id="search bar">
            <sub-header>Search Bar</sub-header>
          </div> -->
          
          <!-- CSCE Course Buttons 
          <div id="course buttons">
            <sub-header>CSCE Course Buttons</sub-header>
          </div> -->
          
          <!-- Login Button -->
          <div id="login">
            <a id="login button" class="button" style="float:right" onclick="document.getElementById('login modal').style.display='block'">Login</a>
          </div>
        </div>
        
        <!-- Login Modal -->
        <div id="login modal" class="w3-modal">
          <div class="w3-modal-content w3-animate-zoom" style="background-color: #595959">
            <div class="w3-container w3-center">
              <span onclick="document.getElementById('login modal').style.display='none'" class="w3-closebtn w3-hover-text-grey" style="color: #BFBFBF">x</span>
              
              <div class = "w3-container w3-center" style="padding: 16px">
                <%= render 'login_modal' %>
              </div>
            </div>
          </div>
        </div>
        
       
        
        <!-- View Button Bar -->
        <div class="w3-panel w3-center">
            <div class="w3-show-inline-block">
                <a id="available button" class="button" onclick="return showAvailableDiv()">Available</a>
                <a id="all button" class="button" onclick="return showAllDiv()">All</a> 
                <a id="schedule changes button" class="button" onclick="return showScheduleChangesDiv()">Schedule Changes</a>
            </div>
        </div>
        
        <div style="color:white;">
            <%= link_to 'Populate Database',  home_populate_db_path %>
        </div>
      
      
      <!-- Available View -->
      <div id="available view">
          <sub-header>Available View</sub-header>
          <!--
          <div>
            <container>
              <card>TEST</card>
              <card>HI</card>
            </container>
          </div>
          -->
          <table>
          <tbody>
            <% @office_hours.each do |oh| %>
              <tr>
                <td style="color:white;">
                  <%= oh.netID %>
                </td>
                <td style="color:white;">
                  <%= oh.dow %>
                </td>
                <td style="color:white;">
                  <%= oh.sHour %>
                </td>
                <td style="color:white;">
                  <%= oh.sMin %>
                </td>
                <td style="color:white;">
                  <%= oh.eHour %>
                </td>
                <td style="color:white;">
                  <%= oh.eMin %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <!-- All View -->
      <div id="all view" style="display: none">
        <sub-header>All View</sub-header>
        
      
			  <% @peer_teachers.each do |pt| %>
  			  <div class="row">
    				<div class="card">
    				  <div class="col-sm-3">
						    <img src=<%= pt.image %> >
					    </div>
    					<div class="col-sm-3">
    						<h2 class="card-header" style="color:white;"><%= pt.name %></h2>
      				</div>
      				<div class="col-sm-3">
      					  <h3>Courses: </h3>
      					  CSCE <%= pt.courselist %>  
      					</div>
      				<div class="col-sm-3">
    					  <h3>Office Hours:</h3>  
    					  <% @office_hours.where(netID: pt.netID).find_each do |time| %>
                  <%= time.dow %> <%= time.sHour %>:<%= time.sMin %> - <%= time.eHour %>:<%= time.eMin %>
                  <br>
                <% end %>
    					</div>
    				</div>
  				</div>
				<% end %>
  
        <!--<table>
          <tbody>
            <#n% @peer_teachers.each do |pt| %>
              <tr>
                <td style="color:white;">
                  <#%= pt.netID %>
                </td>
                <td style="color:white;">
                  <#%= pt.name %>
                </td>
                <td style="color:white;">
                  <#%= pt.courselist %>
                </td>
                <td style="color:white;">
                  <#%= pt.image %>
                </td>
              </tr>
            <#% end %>
          </tbody>
        </table>
      </div>-->
      
      <!-- Schedule Changes View -->
      <div id="schedule changes view" style="display: none">
        <sub-header>Schedule Changes View</sub-header>
      </div>
        
    </body>
</html>

