<div id="flexbox">
  <div class="row row-flex row-flex-wrap">
    <% if(session[:available_pts]) %>
      <% session[:available_pts].each do |pt| %>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-body" <% if(session[pt] == 1) %> style="background-color: #000000; color: #ffffff;" <% end %>>
            <div class="col-sm-3">
  				    <img src=<%= (@peer_teachers.find_by email: pt).image %> >
  			    </div>
  			    <div class="col-sm-5">
              <h3><%= (@peer_teachers.find_by email: pt).name %></h3>
              <h4><%= pt %></h4>
              <h4>Courses: </h4>
      				<p>  CSCE <%= (@peer_teachers.find_by email: pt).courselist %>   </p>
              <h4>Office Hours:</h4> 
    					  <% @office_hours.where(email: pt).find_each do |time| %>
    				      <% time_details = beautify_time(time) %>
    				      <%= time.dow %> <%= time_details[0] %>:<%= time_details[1] %><%= time_details[2] %> - <%= time_details[3] %>:<%= time_details[4] %><%= time_details[5] %>
                  <br>
                <% end %>
                <%= link_to 'Take Survey', "https://docs.google.com/a/tamu.edu/forms/d/e/1FAIpQLScPuUGSpwBBni8c2NOR0GJqsWbADBKjdaOVahi1VjDN26tfgA/viewform?usp=pp_url&entry.110379020=" + (@time - (60 * 60 * 5)).to_s[0..15] + "&entry.788071172&entry.197140045&entry.2071741446&entry.1576936250=" + (@peer_teachers.find_by email: pt).name + "&entry.99313458", target: :_blank, class: 'btn btn-link-border'  %>
            </div>
            <% if (session[pt] == 1) %>
              <div class="col-sm-4">
                <br>
                <p>Message:</p>
                <% message = format_message(@updates.find_by(email: pt).msg) %>
                <% message.each do |m| %>
                  <p><%= m %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>